<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Doan_1"
        tools:targetApi="31">
        <activity
            android:name=".AddThongBao"
            android:exported="true" >

        </activity>
        <activity
            android:name=".Forgotpassword"
            android:exported="false" />
        <activity
            android:name=".ThongKeDHActivity"
            android:exported="false" />
        <activity
            android:name=".LichSuDHActivity"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateSpActivity"
            android:exported="false" />
        <activity
            android:name=".ShoppingActivity"
            android:exported="false" />
        <activity
            android:name=".ChitietshipnhanhActivity"
            android:exported="false" />
        <activity
            android:name=".Muasieusale_Activity"
            android:exported="false" />
        <activity
            android:name=".VoucherActivity"
            android:exported="false" />
        <activity
            android:name=".ShipnhanhActivity"
            android:exported="false" />
        <activity
            android:name=".AdProActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".AdUserActivity"
            android:exported="false" />
        <activity
            android:name=".AddProductsActivity"
            android:label="Product List"
            android:parentActivityName=".AdminActivity" />
        <activity
            android:name=".ChitietActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".AdminActivity"
            android:exported="false"
            android:label="Product List">

        </activity>
        <activity
            android:name=".theodoiActivity"
            android:exported="false" />
        <activity
            android:name=".accountActivity"
            android:exported="false" />
        <activity
            android:name=".TrangchuActivity"
            android:exported="false" />
        <activity
            android:name=".DangNhap"
            android:exported="false"
            android:label="Đăng nhập" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Sneaker Shop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>